## This file is a general .ucf for the Anvyl board
## To use it in a project:
## - uncomment the lines corresponding to used pins
## - rename the used signals according to the project

##Clock Signal 100MHz
NET "clk_100mhz"	LOC="D11" |	IOSTANDARD = "LVCMOS33";
# NET "clk_100mhz" TNM_NET = sys_clk_pin;
# TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

#NET "tck_in" CLOCK_DEDICATED_ROUTE = FALSE ;

##Switches
NET "io_switch[0]"	LOC= V5	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L13N_3,	Sch name = SW0
NET "io_switch[1]"	LOC= U4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18P_3,	Sch name = SW1
NET "io_switch[2]"	LOC= V3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18N_3,	Sch name = SW2
NET "io_switch[3]"	LOC= P4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21P_3,	Sch name = SW3
NET "io_switch[4]"	LOC= R4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21N_3,	Sch name = SW4
NET "io_switch[5]"	LOC= P6	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22P_3,	Sch name = SW5
NET "io_switch[6]"	LOC= P5	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22N_3,	Sch name = SW6
NET "io_switch[7]"	LOC= P8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L23P_3,	Sch name = SW7

## LEDs
NET "io_led[0]"	LOC=W3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L9P_3,		Sch name = LD0
NET "io_led[1]"	LOC=Y4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L7N_3,		Sch name = LD1
NET "io_led[2]"	LOC=Y1	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L2N_3,		Sch name = LD2
NET "io_led[3]"	LOC=Y3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L8P_3,		Sch name = LD3
NET "io_led[4]"	LOC=AB4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L12N_3,	Sch name = LD4
NET "io_led[5]"	LOC=W1	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L9N_3,		Sch name = LD5
NET "io_led[6]"	LOC=AB3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L8N_3,		Sch name = LD6
NET "io_led[7]"	LOC=AA4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L12P_3,	Sch name = LD7

## Buttons
NET "hard_int[0]"	    LOC = E6		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L82P_3,	Sch name = BTN0
NET "hard_int[1]"	    LOC = D5		|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L82N_3,	Sch name = BTN1
NET "hard_int[2]"	    LOC = A3		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L83P_3,	Sch name = BTN2
NET "hard_int[3]"	    LOC = AB9	    |	IOSTANDARD=LVCMOS33;
NET "hard_int[4]"       LOC = E6	    |	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L82P_3,	Sch name = BTN0
NET "hard_int[5]"       LOC = D5	    |	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L82N_3,	Sch name = BTN1
NET "io_btn[0]"	        LOC = A3	    |	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L83P_3,	Sch name = BTN2
NET "rst"               LOC = AB9	    |   IOSTANDARD=LVCMOS33;

## 7 Segment Display
NET "io_seven_seg[0]"	LOC=AA21	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63P_1,	Sch name = 7SD-AA
NET "io_seven_seg[1]"	LOC=AA22	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63N_1,	Sch name = 7SD-AB
NET "io_seven_seg[2]"	LOC=Y22	    |	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59N_1,	Sch name = 7SD-AC
NET "io_seven_seg[3]"	LOC=N15	    |	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L60P_1,	Sch name = 7SD-AD
NET "io_seven_seg[4]"	LOC=AB19	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L65P_1,	Sch name = 7SD-AE
NET "io_seven_seg[5]"	LOC=P20	    |	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L64N_1,	Sch name = 7SD-AF
NET "io_seven_seg[6]"	LOC=Y21	    |	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59P_1,	Sch name = 7SD-AG
NET "io_seven_seg[7]"   LOC=P15	    |   IOSTANDARD=LVCMOS33;					#Bank = 1, pin name = IO_L62P_1,	Sch name = 7SD-DP

NET "io_seg_enables[0]"	LOC = M17	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L58N_1,	Sch name = 7SD-C2
NET "io_seg_enables[1]"	LOC = P16	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L62N_1,	Sch name = 7SD-C1
NET "io_seg_enables[3]"	LOC = N16	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L60N_1,	Sch name = 7SD-C3
NET "io_seg_enables[2]"	LOC = P19	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L64P_1,	Sch name = 7SD-C4
NET "io_seg_enables[5]"	LOC = AA20	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61P_1,	Sch name = 7SD-C5
NET "io_seg_enables[4]"	LOC = AB21	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61N_1,	Sch name = 7SD-C6

## Keypad
NET "io_keypad_col[0]"	LOC = H8	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L58P_3,	Sch name = COL1
NET "io_keypad_col[1]"	LOC = J7	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L58N_3,	Sch name = COL2
NET "io_keypad_col[2]"	LOC = K8	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L59P_3,	Sch name = COL3
NET "io_keypad_col[3]"	LOC = K7	|	IOSTANDARD=LVCMOS18;			#Bank = 3, pin name = IO_L59N_3,	Sch name = COL4

NET "io_keypad_row[0]"	LOC = E4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60P_3,	Sch name = ROW1
NET "io_keypad_row[1]"	LOC = F3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60N_3,	Sch name = ROW2
NET "io_keypad_row[2]"	LOC = G8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L73P_3,	Sch name = ROW3
NET "io_keypad_row[3]"	LOC = G7	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L73N_3,	Sch name = ROW4